<!--Data Entry form -->

<div class="card">
  <form [formGroup]="dataEntryForm" novalidate>

    <div id="title">
      Data Entry Form
    </div>
    <div id="dropdown">
      <label class="learningEvents">Learning Events</label>
      <select formControlName="learningEvents" required>
        <option>Create</option>
        <option>Explore</option>
        <option>Practice</option>
        <option>Imitate</option>
        <option>Receive</option>
        <option>Debate</option>
        <option>Meta-learn</option>
        <option>Experiment</option>
      </select>

    </div>


    <div id="activities">
      <label class="learningActivities">Learning Activities</label>
      <input type="text" formControlName="learningActivities" required>
    </div>

    <div formArrayName="indicator">
      <div *ngFor="let indicator of indicatorControls; let i = index" [formGroupName]="i">

        <div id="indicators">
          <label class="indicatorName">Indicators</label>
          <input type="text" formControlName="indicatorName" required>
        </div>


        <div id="metrics">
          <label class="metrics">Meterics</label>
          <input type="text" formControlName="metrics" required>
        </div>

      </div>
      <div class="btn">
        <button id="btn1" mat-raised-button color="primary" (click)="addIndicator()"
          [disabled]="dataEntryForm.pristine || dataEntryForm.invalid">Add Indicator</button>
        <button id="btn2" mat-raised-button color="warn" (click)="removeIndicator(i)"
          [disabled]="dataEntryForm.pristine || dataEntryForm.invalid"> Delete</button>
      </div>


    </div>
    <div id="savebtn">
      <button type="submit" mat-raised-button color='primary'
        (click)='addData(learningEvents,learningActivities,indicator,metrics)'
        [disabled]="dataEntryForm.pristine || dataEntryForm.invalid">Save data</button>
    </div>


  </form>

</div>
